* {
  font: 300 1em "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #001069;
  scroll-behavior: smooth;
}
/* TEXT STYLES */

h1 {
  font-weight: 700;
  text-align: right;
  font-size: 8vw;
  margin: 80px 4vh 0;
  line-height: 1.1;

  /* box-shadow: inset 0 -0.475em 0 #fffafc; */
}
@media (min-width: 601px) {
  h1 {
    margin-left: 20px;
  }
}
#about {
  text-align: right;
}
@media (max-width: 600px) {
  h1,
  #about {
    text-align: center;
  }
}
p {
  margin: 4vh;
}
a {
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  filter: brightness(0.8);
}
body {
  background: url(../projects/jfj-bg.png), #fffafc;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}
/* NAV STYLES */
#header-img {
  position: fixed;
  left: 1vh;
  top: 1vh;
  width: 3vw;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: #001069;
  z-index: 100;
}

.nav-wave {
  position: fixed;
  top: 54px;
  left: 0;
  z-index: 99;
  /* filter: drop-shadow(0px 15px 7px rgba(0, 0, 0, 0.16)); */
}
.nav-link {
  padding: 14px calc((3vw + 4vh) / 2);

  /* FIXME: need more padding on right */
  text-decoration: none;
  font-size: 1.3em;
  color: #fffafc;
}

.nav-padding {
  padding-right: 70px;
}
@media (max-width: 800px) {
  nav {
    justify-content: center;
  }
  .nav-padding {
    padding-right: 0px;
  }
}
/* LANDING STYLES */
.landing {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  /* background-color: #d4dff5; */

  /* display: grid;
  grid-template-columns: repeat(2, 50%); */
  /* TODO:grid vs flex */
}

.landing-text {
  flex-direction: column;
  width: 50vw;
  margin: 2vw;
}
.landing-img {
  width: 50vw;
  background-image: url(../projects/jfj-3.jpg);
  background-size: cover;
  background-position: center;
}
@media (min-width: 800px) {
  .landing {
    height: 100vh;
  }
  .landing-text p {
    font-size: calc((2vh + 2vw) / 2);
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 12vw;
  }
  .landing {
    flex-direction: column;
    height: 100vh;
  }
  .landing-img {
    width: 80vw;
    display: flex;
    align-self: center;
    height: 50vw;
    border-radius: 2vh;
    margin-bottom: 10vh;
  }
  .landing-text {
    width: 100vw;
    margin: 0;
  }
}
/* DONATION STYLES */

li {
  color: #fffafc;
}
.donations-text,
#video {
  height: 20vw;
}
.donations {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.donations p {
  margin: 0;
  color: #fffafc;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 10px;
}

.donations-text {
  box-sizing: border-box;
  background-color: #001069;
  padding: 20px 40px;

  border-radius: 0 2vh 2vh 0;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
ul {
  list-style: none;
}
#video {
  border-radius: 2vh 0 0 2vh;
}
@media (max-width: 800px) {
  .donations {
    flex-direction: column-reverse;
    align-items: center;
  }
  #video,
  .donations-text {
    height: auto;
    width: 80vw;
  }
  #video {
    border-radius: 0 0 2vh 2vh;
  }
  .donations-text {
    border-radius: 2vh 2vh 0 0;
    align-items: center;
  }
}
/* PRICING STYLES */
#pricing {
  display: flex;
  justify-content: space-around;
  margin: 100px 7vw 0;
}
@media (max-width: 600px) {
  #pricing {
    display: flex;
    flex-direction: column;
  }
}

.product {
  background-color: #d4dff5;
  width: 25vw;
  margin-bottom: 5vw;
  text-align: center;
  font-size: calc((2vh + 2vw) / 2);
  border-radius: 2vh;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.16);
}
.order-button {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  bottom: 65px;
  background-color: #e5f7ef;
  border-radius: 2vh;
  font-size: calc((2.3vh + 2.3vw) / 2);

  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.16);

  /* why does center alignment move when width is set */
}
.order-button button {
  font-weight: 500;
}
@media (min-width: 601px) {
  .product-float {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 600px) {
  .product {
    width: 60%;
    align-self: center;
    font-size: 4vw;
  }
  .order-button {
    position: initial;
    bottom: initial;
    font-size: 4.5vw;
  }
}

.product p {
  margin: 3% 0;
}

.product-img {
  border-radius: 2vh 2vh 0 0;
  width: 25vw;
}
@media (max-width: 600px) {
  .product-img {
    display: flex;
    width: 100%;
  }
}

/* FORM STYLES */
.jfj-wave {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.form-bg {
  background-color: #d4dff5;
  display: flex;
  justify-content: center;
  width: 100%;

  padding: 0;
}
form {
  background-color: #fffafc;
  padding: 3vh;
  margin: 10vw 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
  width: 60vh;
  height: 40vh;
}
form p {
  font-size: 1.3em;
  margin-top: 0;
}
button {
  background: none;
}

button,
input {
  border: none;
  font-style: "DM Sans", sans-serif;
  font-weight: 300;
  margin: 1vh;
  padding: 1vh 2vh;
}
input {
  width: 70%;
  border-style: solid;
  border-width: 2px;
  border-color: #d4dff5;
  border-radius: 2vh;
}

#submit {
  background-color: #001069;
  color: #fffafc;
  border-style: none;
  align-self: center;
  width: 130px;
}

footer {
  background-color: #001069;
  color: #fffafc;
  text-align: center;
  padding: 1vh;
}
footer a {
  color: #fffafc;
  font-style: italic;
}
@media (max-width: 700px) {
  form {
    width: 60vw;
  }
}
