body{
  margin:4vw;
  font: 300 15px sans-serif;
  background-color: black;
}
header {
  background-color: white;
  margin:-4vw;
  padding:2vw 4vw 6vw;
}
form{
  background-color:black;
  color:white;
  margin: 0vw -4vw -4vw;
  padding: 2vw 4vw;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info {
  display:flex;
  flex-direction:column;
  margin-right:6vw;
}
.customization{
  display:flex;
  flex-direction:column;
}
form p{
  font-weight:600;
  color:pink;
}
label {
  display:flex;
  flex-direction:column;
  margin: 8px 0px;
}
input, #dropdown, #comments {
  width: 20vw;
  border:none;
  padding:5px;
  font: 300 15px sans-serif;
  margin-top:3px;
}

.option {
  display:flex;
  flex-direction:row;

}
.option input{
   width:revert;
}
#comments {
  height:7vw;
}
button {
  border:none;
  background-color: pink;
  color:black;
  font-weight: 800;
  font: 600 15px sans-serif;
  padding: 5px 5px;
  margin-top:20px;
  align-self:flex-end;
  width:13vw;
}
textarea{
  font: 300 15px 'Helvetica Rounded', sans-serif;
}
