h1 {
  font-size: 100px;
  margin: 20px 0;
}
p,
li {
  font: 16px sans-serif;
}
.nav-link {
  display: block;
}
.nav-link,
#navbar,
.main-section header {
  font: 20px/1.3 monospace;
}
.nav-link,
#navbar {
  color: white;
}
.main-section header {
  color: crimson;
}
#navbar {
  background-color: crimson;

  padding: 0px 30px 25px;
}
@media (min-width: 800px) {
  #main-doc {
    position: absolute;
    float: right;
    left: 420px;
    margin-right: 40px;
  }

  #navbar {
    float: left;
    height: 100%;
    position: fixed;
    top: -1vw;
    left: 0vw;
  }
}
@media (max-width: 799px) {
  #navbar {
    width: 100%;
    position: absolute;
    top: 0vw;
    left: 0vw;
  }
  #main-doc {
    margin: 215px 5px 20px;
  }
}
