.nav-link {
    display:block;

  }
#navbar{
   position:fixed;
   background-color:gray;
   left:0vw;
   padding: 2vw;
   top:-1vw;
}
@media (min-width: 800px) {
 #main-doc {
   position:absolute;
   float:right;
    left: 280px;

  }

  #navbar {
    float:left;
    height:100%;
  }

}
@media (max-width:799px) {
	#navbar{
    width:100%;
}
  #main-doc{
    position:absolute;
    top:160px;
  }
}
