body{
  background: black;
  color: white;
  font-family: 'Andale Mono', monospace;
}
h1{
  text-align:center;
}
#image {
  display:block;
  margin:auto;
  max-width:100%;
}

#tribute-info{
  margin: 0vw 35vw;
  line-height: 1.6;
  font-size: 16px;
}
#img-caption{
  font-style:italic;
  text-align:center;
  margin-bottom: 5vw;
}
a{
  color:lightgreen;
}
